apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-operator-values
  namespace: flux-system
data:
  values.yaml: |
    operator:
      namespace: istio-system

    components:
      ingressGateways:
        - name: istio-ingressgateway
          enabled: true
          k8s:
            service:
              type: NodePort
              nodePort: 30086
            resources:
              limits:
                cpu: 100m
                memory: 128Mi
              requests:
                cpu: 100m
                memory: 128Mi