
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: istio
  namespace: flux-system
spec:
  interval: 5m
  path: "./istio"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  validation: client