apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: istio-operator 
namespace: istio-operator

resources:
  - github.com/istio/istio/releases/download/1.20.3/istio-operator.yaml?ref=1.20.3

configMapGenerator:
  - name: istio-config
    files:
      - config/istio-operator.yaml

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: istio-operator
      namespace: istio-operator
    spec:
      template:
        spec:
          containers:
          - name: istio-operator
            resources:
              requests:
                memory: "128Mi"
                cpu: "100m"
              limits:
                memory: "256Mi"
                cpu: "500m"
