apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: kyverno
resources:
  - github.com/kyverno/kyverno/releases/download/v1.10.6/kyverno.yaml
namespace: kyverno

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kyverno
      namespace: kyverno
    spec:
      template:
        spec:
          containers:
          - name: kyverno
            resources:
              requests:
                memory: "256Mi"
                cpu: "100m"
              limits:
                memory: "512Mi"
                cpu: "500m"
  - |-  
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kyverno-cleanup-controller
      namespace: kyverno
    spec:
      template:
        spec:
          containers:
          - name: kyverno-cleanup-controller
            resources:
              requests:
                memory: "128Mi"
                cpu: "50m"
              limits:
                memory: "256Mi"
                cpu: "200m"
