
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  - https://github.com/projectcalico/calico/releases/download/v3.27.2/tigera-operator.yaml

namespace: tigera-operator


patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: tigera-operator
      namespace: tigera-operator
    spec:
      template:
        spec:
          containers:
          - name: tigera-operator
            resources:
              requests:
                memory: "150Mi"
                cpu: "100m"
              limits:
                memory: "300Mi"
                cpu: "500m"
